# HA runtime/state (do not version)
.storage/
.cloud/
tts/
deps/
*.db
*.db-shm
*.db-wal
zigbee.db*
home-assistant_v2.db*
home-assistant.log*
home-assistant.log.fault
.HA_VERSION
.ha_run.lock

# Secrets / keys
secrets.yaml
*.pem
*.key
*.crt
.DS_Store
_backup_*/


# Block all HA runtime storage
#.config/.storage/*
#.storage/*

# Allow ONLY the helpers file we want
!.homeassistant/.storage/input_datetime
!.storage/input_datetime
